.side-left{
    width: 35%;
    height: 300px;
    float: left;
    display: inline-block;
}

.side-right{
    margin-left: 30px;
    width:64%;
    height: 300px;
    float: right;
    display: inline-block;
}